include README.rst
include LICENSE
include requirements.txt
recursive-include ckanext/lollipop *.html *.json *.js *.less *.css *.mo *.yml
recursive-include ckanext/lollipop/migration *.ini *.py *.mako
