  {# The content block allows you to replace the content of the page if needed #}
  {%- block content %}
    {% block maintag %}<div class="main">{% endblock %}
      <div id="content" class="container">
        {% block main_content %}
          {% block flash %}
            <div class="flash-messages">
              {% block flash_inner %}
                {% if h.check_ckan_version('2.10') %}
                  {% for category, message in get_flashed_messages(with_categories=true) %}
                    <div class="alert fade in {{ category }}">
                      {{ h.literal(message) }}
                    </div>
                  {% endfor %}
                {% else %}
                  {% for message in h.flash.pop_messages() | list %}
                    <div class="alert fade in {{ message.category }}">
                      {{ h.literal(message) }}
                    </div>
                  {% endfor %}
                {% endif %}
              {% endblock %}
            </div>
          {% endblock %}

          {% block toolbar %}
            <div class="toolbar" role="navigation" aria-label="{{ _('Breadcrumb') }}">
              {% block breadcrumb %}
                  <ol class="breadcrumb">
                    <!-- ahc -->
                    {% snippet 'snippets/home_breadcrumb_item.html' %}
                    {% block breadcrumb_content %}
                      {% snippet 'ckanext_lollipop/lollipop_breadcrumb.html' %}
                    {% endblock %}
                  </ol>
              {% endblock %}
            </div>
          {% endblock %}

          <div class="row wrapper{% block wrapper_class %}{% endblock %} no-nav">
          {% snippet 'ckanext_lollipop/captcha.html' %}
          </div>
        {% endblock %}
      </div>
    </div>
  {% endblock -%}
